<%
for (const item of items) {
    if (forbiddenAccess[item.id] === true) {
        continue;
    }
    let translation = item.isSystem() ? 'null' : `meta.${item.translationKey}`;
    let css = item.options.css;
    if (item.options.separatorBefore) {
%>
<li class="separator"></li>
<%
    } if (item.data.type === 'header') {
%>
<li class="header <%- css %>" data-t="<%- translation %>"><%- item.data.title %></li>
<%
} else {
    let opened = item.data.opened || openedItems.includes(item);
    if (item.children) {
        css += ' treeview';
    }
    if (opened) {
        css += ' loaded menu-open';
    }
    if (item === activeItem) {
        css += ' active';
    }
%>
<li class="menu-item <%- css %>" data-id="<%- item.id %>">
    <% if (item.children) { %>
    <a href="javascript:void(0)" class="menu-item-btn" data-url="<%- _widget.getItemUrl(item) %>">
        <i class="<%- item.icon %>"></i>
        <span title="<%= item.title %>" data-t="<%- translation %>"><%- item.title %></span>
        <i class="arrow fa fa-angle-left pull-right"></i>
    </a>
    <ul class="treeview-menu">
        <% if (opened) { %>
        <%- include('sideMenuItems', {items: item.children}) %>
        <% } else { %>
        <li class="menu-item-loader">
            <span class="fa fa-spinner fa-spin"></span>
        </li>
        <% } %>
    </ul>
    <% } else { %>
    <a href="<%- _widget.getItemUrl(item) %>" class="menu-item-btn">
        <i class="<%- item.icon %>"></i>
        <span title="<%= item.title %>" data-t="<%- translation %>"><%- item.title %></span>
    </a>
    <% }%>
</li>
<% } if (item.options.separatorAfter) { %>
<li class="separator"></li>
<% }} %>