<!-- _meta/attr/view/date -->
<%
const value = model.get(attr);
const stringValue = value instanceof Date ? value.toISOString() : value;
%>
<div class="form-attr form-group <%- attr.options.css %>"
     data-handler="<%- typeof handler === 'undefined' ? 'Date' : handler %>"
     data-action-binder="<%= attr.actionBinder.stringified %>">
    <label class="<%- attr.options.cssLabel || 'col-md-2' %> control-label"
           data-t="meta.<%- attr.view.translationKey %>"
           title="<%= attr.extHint %>"><%- attr.title %></label>
    <div class="<%- attr.options.cssValue || 'col-md-10' %>">
        <input name="<%- formAttrName %>" type="hidden" value="<%- stringValue %>"
               class="form-value" readonly="readonly">
        <p class="form-control-static">
            <%- _format(value, 'clientDate', {
                utc: attr.isUTC(),
                format: attr.getFormat()
            }) %>
        </p>
        <div class="error-block"></div>
        <div class="hint-block" data-t="meta.<%- attr.view.translationKey %>"><%- attr.hint %></div>
    </div>
</div>