<!-- _meta/attr/view/date -->
<%
const value = model.get(attr);
const stringValue = value instanceof Date ? value.toISOString() : value;
%>
<div class="form-attr form-group row <%- attr.options.css %>"
     data-handler="<%- typeof handler === 'undefined' ? attr.options.handler : handler %>"
     data-action-binder="<%= attr.actionBinder.stringified %>">

    <%- include(_view.get('_meta/attr/label')) %>

    <div class="<%- attr.options.cssValue || defaultCssValue %>">
        <input type="hidden" name="<%- formAttrName %>" value="<%- stringValue %>" class="form-value">
        <div class="form-control-plaintext">
            <%- _format(value, 'clientDate', {
                utc: attr.isUTC(),
                format: attr.options.momentFormat
            }) %>
        </div>
        <div class="error-block"></div>
        <div class="hint-block" data-t="meta.<%- attr.view.translationKey %>"><%= attr.hint %></div>
    </div>
</div>