<!-- _meta/attr/view/relationSelect -->
<%
const update = `office/model/update?c=${attr.relation.refClass.id}&v=${attr.eagerView.editView.viewName}&id=`;
const raw = model.get(attr);
const related = model.related.get(attr);
const items = [];
if (attr.commandMap.edit) {
    if (Array.isArray(related)) {
        for (const item of related) {
            items.push(`<a href="${update}${item.getId()}" class="frame-link value-item">${item.getEscapedTitle()}</a>`);
        }
    } else if (related) {
        items.push(`<a href="${update}${related.getId()}" class="frame-link">${related.getEscapedTitle()}</a>`);
    } else if (Array.isArray(raw)) {
        for (const value of raw) {
            items.push(`<a href="${update}${value}" class="frame-link value-item">${value}</a>`);
        }
    } else if (raw) {
        items.push(`<a href="${update}${raw}" class="frame-link">${raw}</a>`);
    }
} else if (Array.isArray(related)) {
    for (const item of related) {
        items.push(`<div class="value-item">${item.getEscapedTitle()}</div>`);
    }
} else if (related) {
    items.push(related.getEscapedTitle());
} else if (Array.isArray(raw)) {
    for (const value of raw) {
        items.push(`<div class="value-item">${value}</div>`);
    }
} else if (raw) {
    items.push(raw);
}
if (!items.length && attr.isHideEmpty()) {
%>
<%- include(_view.get('_meta/attr/empty')) %>
<% } else { %>
<div class="form-attr form-group row <%- required %> <%- attr.options.css %>"
     data-handler="<%- typeof handler === 'undefined' ? attr.options.handler : handler %>"
     data-action-binder="<%= attr.actionBinder.stringified %>">

    <%- include(_view.get('_meta/attr/label')) %>

    <div class="<%- attr.options.cssValue || defaultCssValue %>">
        <input type="hidden" name="<%- formAttrName %>" value="<%= raw %>" class="form-value">
        <div class="relation-select">
            <div class="form-control-plaintext">
                <%- items.length ? items.join('') : _format(null) %>
            </div>
        </div>
        <div class="error-block"></div>
        <div class="hint-block" data-t="meta.<%- attr.view.translationKey %>"><%- attr.hint %></div>
    </div>
</div>
<% } %>