<!-- _meta/attr/view/thumbnail -->
<%
const related = model.rel(attr) || model.get(attr);
const values = Array.isArray(related) ? related : related ? [related] : [];
const refView = attr.getEagerView();
const extraData = extraMeta.getData(refView);
const thumbnail = extraData.file?.thumbnail;
if (attr.isHideEmpty() && (!values.length || !thumbnail)) {
%>
<div class="form-attr hidden" data-handler="<%- attrHandler %>">
    <input type="hidden" name="<%- formAttrName %>" value="<%= value %>" class="form-value">
</div>
<% } else {
    const size = attr.options.thumbnail || '';
    const commands = attr.commandMap;
    const params = `c=${attr.relation.refClass.id}&m=${attr.name}.${model.getMetaId()}`;
    const edit = commands.edit ? `office/model/update?${params}&id=` : false;
%>
<div class="form-attr form-group row <%- required %> <%- attr.options.css %>"
     data-handler="<%- typeof handler === 'undefined' ? attr.options.handler : handler %>"
     data-action-binder="<%= attr.actionBinder.stringified %>">
    <label class="<%- attr.options.cssLabel || defaultCssLabel %> col-form-label" title="<%= attr.extHint %>"
           data-t="meta.<%- attr.view.translationKey %>"><%- attr.title %></label>
    <div class="<%- attr.options.cssValue || defaultCssValue %>">
        <input type="hidden" name="<%- formAttrName %>" value="<%= model.get(attr) %>" class="form-value">
        <% if (thumbnail) {
            const thumb = thumbnail + '&s=' + size + '&id='; %>
        <div class="thumbnail-list">
            <% for (const value of values) {
                const id = value.getId ? value.getId() : value;
                const name = value.getTitle ? value.getTitle() : value;
            if (edit) { %>
            <a href="<%- edit + id %>" class="frame-link">
                <img src="<%- thumb + id %>" class="img-thumbnail img-fluid" title="<%= name %>" alt="">
            </a>
            <% } else  { %>
            <img src="<%- thumb + id %>" class="img-thumbnail img-fluid" title="<%= name %>" alt="">
            <% }} %>
        </div>
        <% } %>
        <div class="error-block"></div>
        <div class="hint-block" data-t="meta.<%- attr.view.translationKey %>"><%- attr.hint %></div>
    </div>
</div>
<% } %>