<!-- _meta/group/set -->
<%
const loaded = !group.isLoadable() || (loadedGroups ? loadedGroups.includes(group.name) : group.isActive());
%>
<fieldset class="form-set model-group <%- group.isActive() ? 'active' : '' %> <%- group.data.css %>"
          data-id="<%- group.name %>"
          data-action-binder="<%= group.actionBinder.stringified %>"
          data-loadable="<%- group.isLoadable() %>"
          data-loaded="<%- loaded %>">
    <legend>
        <span class="form-set-toggle">
            <span class="icon fas fa-chevron-right"></span>
            <span data-t="meta.<%- group.translationKey %>"
                  title="<%= group.hint %>"><%- group.title %></span>
        </span>
    </legend>
    <div class="form-set-body model-group-body">
        <% if (loaded) { %>
        <%- include(_view.get('_meta/group/children')) %>
        <% } else { %>
        <div class="model-group-loader">
            <i class="fa fa-spinner fa-spin"></i>
        </div>
        <% } %>
    </div>
</fieldset>