<!-- office/_part/group/tabs -->
<div class="tabs <%- group.data.css %>"
     data-id="<%- group.name %>"
     data-action-binder="<%= group.actionBinder.stringified %>">
    <div class="nav nav-tabs" role="tablist">
    <% for (const tab of group.children) {
       if (tab.isGroup()) { %>
        <a class="nav-item nav-link <%- tab.isActive() ? 'active' : '' %>" title="<%= tab.hint %>" href="#" role="tab"
           data-id="<%- tab.name %>" data-t="meta.<%- tab.translationKey %>"><%- tab.title %></a>
    <% }} %>
    </div>
    <div class="tab-content">
        <% for (const tab of group.children) {
           if (tab.isGroup()) { %>
        <div class="form-base-group tab-pane <%- tab.isActive() ? 'active' : '' %> <%- group.data.css %>"
             data-id="<%- tab.name %>"
             data-action-binder="<%= tab.actionBinder.stringified %>">
            <div class="form-base-group-body">
            <%- include(_view.get('_meta/group/children'), {group: tab}) %>
            </div>
        </div>
        <% }} %>
    </div>
</div>
