<!-- office/_part/group/tabs -->
<div class="tabs <%- group.options.css %>"
     data-id="<%- group.name %>"
     data-action-binder="<%= group.actionBinder.stringified %>">
    <div class="nav nav-tabs" role="tablist">
    <% for (const tab of group.children) {
       if (tab.isGroup()) { %>
        <a class="nav-item nav-link <%- tab.isActive() ? 'active' : '' %>" href="#" role="tab"
           data-id="<%- tab.name %>"><span data-t="meta.<%- tab.translationKey %>"><%= tab.title %></span><% if (tab.hint) {
            %><i class="hint-icon" title="<%= tab.hint %>" data-t="meta.<%- tab.translationKey %>"></i><% } %></a>
    <% }} %>
    </div>
    <div class="tab-content">
        <% for (const tab of group.children) {
            if (tab.isGroup()) {
                const loaded = !tab.isLoadable() || (loadedGroups ? loadedGroups.includes(tab.name) : tab.isActive());
        %>
        <div class="tab-pane model-group <%- tab.isActive() ? 'active' : '' %> <%- tab.options.css %>"
             data-id="<%- tab.name %>"
             data-action-binder="<%= tab.actionBinder.stringified %>"
             data-loadable="<%- tab.isLoadable() %>"
             data-loaded="<%- loaded %>">
            <div class="model-group-body">
            <% if (loaded) { %>
                <%- include(_view.get('_meta/group/children'), {group: tab}) %>
            <% } else { %>
                <div class="model-group-loader">
                    <i class="fa fa-spinner fa-spin"></i>
                </div>
            <% } %>
            </div>
        </div>
        <% }} %>
    </div>
</div>
