<!-- _meta/attr/label -->
<label class="<%- attr.options.cssLabel || defaultCssLabel %> col-form-label">
    <span class="col-form-label-text" data-t="meta.<%- attr.view.translationKey %>"><%= attr.title %></span><% if (attr.extHint) {
        %><i class="hint-icon" title="<%= attr.extHint %>" data-t="meta.<%- attr.view.translationKey %>"></i><% } %>
</label>
