<!-- _meta/attr/noAccess -->

<% if (_module.params.hideForbiddenAttr || attr.isHidden()) { %>
<div class="form-attr hidden" data-handler="<%- typeof handler === 'undefined' ? '' : handler %>">
    <input type="hidden" name="<%- formAttrName %>" class="form-value">
</div>
<% } else { %>
<div class="form-attr form-group row <%- attr.options.css %>"
     data-action-binder="<%= attr.actionBinder.stringified %>">
    <label class="<%- attr.options.cssLabel || defaultCssLabel %> col-form-label"
           data-t="meta.<%- attr.view.translationKey %>"><%= attr.title %></label>
    <div class="<%- attr.options.cssValue || defaultCssValue %>">
        <input type="hidden" name="<%- formAttrName %>" class="form-value">
        <div class="form-control-plaintext">
            <%- _controller.format(null, 'noAccess') %>
        </div>
        <div class="error-block"></div>
    </div>
</div>
<% } %>