<!-- office/./_meta/attr/static -->
<%
let attrFormat = typeof format === 'undefined' ? attr.getFormat() : format;
let attrFormatParams = typeof formatParams === 'undefined' ? attr.getFormatParams() : formatParams;
let displayValue = _format(model.getDisplayValue(attr), attrFormat, attrFormatParams);
if (attr.escaping) {
    displayValue = _view.EscapeHelper.escapeTags(displayValue);
}
%>
<div class="form-attr-static form-attr form-group <%- attr.options.css %>"
     data-action-binder="<%= attr.actionBinder.stringified %>">
    <label class="<%- attr.options.cssLabel || 'col-md-2' %> control-label"
           data-t="meta.<%- attr.translationKey %>"
           title="<%= attr.extHint %>"><%- attr.title %></label>
    <div class="<%- attr.options.cssValue || 'col-md-10' %>">
        <input name="<%- formAttrName %>" type="hidden" value="<%= model.get(attr) %>" class="form-value">
        <p class="form-control-static"><%- displayValue %></p>
        <div class="error-block"></div>
        <div class="hint-block" data-t="meta.<% attr.translationKey %>"><%- attr.hint %></div>
    </div>
</div>