<!-- office/_layouts/frame/modelForm -->
<%
const id = model.getId();
const p = {
    url: _controller.getOriginalUrl(),
    key: model.class.getKey(),
    id: model.isNew() ? '' : id,
    className: model.class.name,
    viewName: model.view.viewName,
    timestamp: _controller.timestamp,
    hideEmptyGroups: true,
    readOnly: model.readOnly,
    transiting: model.isTransiting(),
    hasHistory: model.hasHistory(),
    delete: `office/model/delete?c=${model.class.id}`
};
if (typeof params !== 'undefined') {
    Object.assign(p, params);
}
const jam = _data.get('jam') || model.view.options.jam || 'DocModel';
%>
<div class="frame-box scroll-container <%- model.view.options.css %>"
     data-tab="<%= blocks.tab %>"
     data-title="<%= blocks.title %>"
     data-t-tab="<%- blocks.tabTranslation %>"
     data-t-title="<%- blocks.titleTranslation %>"
     data-csrf="<%- _controller.getCsrfToken() %>">

    <div class="frame-box-header scroll-header">
        <div class="commands">
            <div class="nav-group">
                <button data-command="saveClose" class="btn-primary btn" type="button" title="Save and close">
                    <i class="fas fa-check"></i>
                </button>
                <button data-command="save" class="btn-outline-info btn" type="button" title="Save">
                    <i class="fas fa-download"></i>
                </button>
            </div>
            <div class="nav-group">
                <button data-command="reload" class="btn-outline-secondary btn" type="button" title="Reload form">
                    <i class="fa fa-redo-alt"></i>
                </button>
            </div>
            <% if (id) { %>
            <button data-command="copyId" class="btn-outline-secondary btn" type="button" title="Copy ID">ID</button>
            <% } if (model.hasHistory() ) { %>
            <button data-command="history" class="btn-outline-secondary btn" type="button" title="Data history"
                    data-url="office/data-history/index?c=<%- p.className %>&id=<%- id %>">
                <i class="fa fa-history"></i>
            </button>
            <% } %>
            <%- include(_view.get('_meta/transition/group')) %>
            <%- include(_view.get('_part/tool/utilities'), {
                params: {
                    meta: model.view.id,
                    model: id
                }
            }) %>
            <div data-command="transiting" class="static-text" style="display: none">
                <span data-t="">Transition in progress...</span>
            </div>
            <% if (id && security.access.canDelete()) { %>
            <button data-command="delete" class="ml-auto btn-outline-danger btn" type="button" title="Delete">
                <i class="far fa-trash-alt"></i>
            </button>
            <% } %>
        </div>
    </div>
    <div class="frame-box-body scroll-body">
        <form class="model form" autocomplete="off" enctype="multipart/form-data"
              data-jam="<%- jam %>"
              data-params="<%= JSON.stringify(p) %>">
            <input name="transition" type="hidden" class="form-value">

            <%- body %>

        </form>
    </div>
    <div class="overlay">
        <i class="fa fa-spinner fa-spin"></i>
    </div>
</div>