<!-- _meta/attr/edit/json -->
<%
const value = model.get(attr);
%>
<div class="form-attr form-group row <%- required %> <%- attr.options.css %>"
     data-handler="<%- typeof handler === 'undefined' ? attr.options.handler || 'Json' : handler %>"
     data-action-binder="<%= attr.actionBinder.stringified %>">
    <label class="<%- attr.options.cssLabel || defaultCssLabel %> col-form-label"
           data-t="meta.<%- attr.view.translationKey %>"
           title="<%= attr.extHint %>"><%= attr.title %></label>
    <div class="<%- attr.options.cssValue || defaultCssValue %>">
        <div class="input-group">
            <input name="<%- formAttrName %>" type="text" class="form-control form-value" <%- required %>
                   value="<%= value !== null ? JSON.stringify(value, null, 1) : null %>">
            <button class="btn-outline-secondary btn" type="button" title="Editor" data-command="edit">
                <i class="fas fa-code"></i>
            </button>
        </div>
        <div class="error-block"></div>
        <div class="hint-block" data-t="meta.<%- attr.view.translationKey %>"><%= attr.hint %></div>
    </div>
    <div class="json-editor modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" data-t="">JSON editor</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <div class="alert alert-danger"></div>
                    <textarea class="json-editor-text form-control" spellcheck="false"></textarea>
                </div>
                <div class="modal-footer">
                    <button class="btn-primary btn" title="Save" data-command="save">
                        <i class="fas fa-download"></i>
                    </button>
                    <button class="btn-outline-secondary btn" data-bs-dismiss="modal" title="Cancel">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>