<!-- _meta/attr/edit/string -->

<div class="form-attr form-group row <%- required %> <%- attr.options.css %>"
     data-handler="<%- typeof handler === 'undefined' ? attr.options.handler : handler %>"
     data-action-binder="<%= attr.actionBinder.stringified %>">
    <label class="<%- attr.options.cssLabel || defaultCssLabel %> col-form-label">
        <span class="col-form-label-text" title="<%= attr.extHint %>"
              data-t="meta.<%- attr.view.translationKey %>"><%= attr.title %></span>
    </label>
    <div class="<%- attr.options.cssValue || defaultCssValue %>">
        <input name="<%- formAttrName %>" type="text" class="form-control form-value" <%- required %>
               value="<%= model.get(attr) %>">
        <div class="error-block"></div>
        <div class="hint-block" data-t="meta.<%- attr.view.translationKey %>"><%= attr.hint %></div>
    </div>
</div>