<!-- office/./_meta/attr/edit/thumbnail -->
<%
const related = model.rel(attr);
const models = Array.isArray(related) ? related : related ? [related] : [];
const refView = attr.getEagerView();
const extraData = extraMeta.getData(refView);
const file = extraData.file;
const size = attr.options.thumbnail || refView.options.thumbnail || '';
const commands = extraMeta.getCommandData(attr, extraData);
const params = `c=${attr.relation.refClass.id}&m=${attr.name}.${model.getClassMetaId()}`;
const update = commands.update ? `office/model/update?${params}&id=` : false;
%>
<div class="form-attr form-group <%- required %> <%- attr.options.css %>"
     data-action-binder="<%= attr.actionBinder.stringified %>">
    <label class="<%- attr.options.cssLabel || 'col-md-2' %> control-label" title="<%= attr.extHint %>"
           data-t="meta.<%- attr.translationKey %>"><%- attr.title %></label>
    <div class="<%- attr.options.cssValue || 'col-md-10' %>">
        <input name="<%- formAttrName %>" type="hidden" value="<%= model.get(attr) %>" class="form-value">
        <% if (file && file.thumbnail) { %>
        <% const thumbnail = file.thumbnail + '&s=' + size + '&id='; %>
        <div class="thumbnail-list">
            <% for (const model of models) { %>
            <% const id = model.getId(); %>
            <% if (update) { %>
                <a href="<%- update + id %>" class="modal-link">
                    <img src="<%- thumbnail + id %>" class="thumbnail img-responsive" title="<%= file.name %>" alt="">
                </a>
            <% } else  { %>
                <img src="<%- thumbnail + id %>" class="thumbnail img-responsive" title="<%= file.name %>" alt="">
            <% }} %>
        </div>
        <% } %>
        <div class="error-block"></div>
        <div class="hint-block" data-t="meta.<%- attr.translationKey %>"><%- attr.hint %></div>
    </div>
</div>