<!-- _meta/attr/edit/time -->
<%
const value = model.get(attr);
%>
<div class="form-attr form-group <%- required %> <%- attr.options.css %>"
     data-handler="<%- typeof handler === 'undefined' ? 'Time' : handler %>"
     data-action-binder="<%= attr.actionBinder.stringified %>"
     data-params="<%= JSON.stringify(attr.options) %>">
    <label class="<%- attr.options.cssLabel || 'col-md-2' %> control-label"
           data-t="meta.<%- attr.view.translationKey %>"
           title="<%= attr.extHint %>"><%- attr.title %></label>
    <div class="<%- attr.options.cssValue || 'col-md-10' %>">
        <input name="<%- formAttrName %>" type="hidden" value="<%- value %>" class="form-value">
        <div class="input-group">
            <input type="text" <%- required %> class="datepicker form-control">
            <div class="input-group-addon"><i class="far fa-clock"></i></div>
        </div>
        <div class="error-block"></div>
        <div class="hint-block" data-t="meta.<%- attr.view.translationKey %>"><%- attr.hint %></div>
    </div>
</div>